Exercise 1: Make an empty list and call it names

In [ ]:
names = []

Exercise 2: Make names filled with names of 5 people: Hannah, Victor, Sam, James, Sarah

In [15]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]

Exercise 3: Make names sort in reverse. Print out the list using a for-loop

In [1]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]
sorted(names, reverse = True)

['Victor', 'Sarah', 'Sam', 'James', 'Hannah']

Exercise 4: Make names sorted alphabetically. Print out the list using while loop

In [14]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]

sorted(names, reverse = True)
name_list = 0

while (name_list <= 4):
    print(names[name_list])
    name_list += 1

Hannah
Victor
Sam
James
Sarah

Exercise 5: Pull out the fourth item from names and print it out

In [20]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]

names.pop(3)
print(names)

['Hannah', 'Victor', 'Sam', 'Sarah']

Exercise 6: Pull out the first item from names and print it out

In [21]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]

names.pop(0)
print(names)

['Victor', 'Sam', 'James', 'Sarah']

Exercise 7: Make a variable named fruits that contains a string "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit" and make it into a list splitting it by the commas.

In [25]:
fruits = "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit"
fruits = ["Apples", "Oranges", "Bananas", "Pineapples", "Persimmons", "Dragonfruit"]

print(fruits)

['Apples', 'Oranges', 'Bananas', 'Pineapples', 'Persimmons', 'Dragonfruit']

Exercise 8: Create a list of the first 10 square numbers. i.e. the square of each integer from 1 to 10.

In [50]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in range(9):
    square = nums[i] ** 2
    print(square)
    i += 1

1
4
9
16
25
36
49
64
81

Exercise 9: Create a multiplication table from 1 to 10

In [58]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in range(10):
    for x in range(10):
        answer = nums[i] * x
        print(f"{nums[i]} x {x} = {answer}")
        x += 1

1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90

Exercise 10: Write a program that gets test scores from a user and then calculates and displays the average of the scores that have been enter. The output of the program should show the original scores and the average.

In [105]:
scoresList = []

amount = int(input("How many scores would you like to enter?: "))
print("")

for i in range(amount):
    
    score = int(input(f"Enter score {i + 1}: "))
    scoresList.append(score)
    i += 1

avg = sum(scoresList) / amount

print(f"\nThe original scores are: {scoresList}")
print(f"The average of scores are: {avg:.2f}")

How many scores would you like to enter?: 3

Enter score 1: 1
Enter score 2: 2
Enter score 3: 3

The original scores are: [1, 2, 3]
The average of scores are: 2.00

### Challenge:
Write a program that maintains a list of movies, and the user can list all the movies, add a movie to the list, or delete a movie from the list.

Example

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program 
```

###### Command: list
``` 
 1. Toy Story
 2. Lion King
 3. Frozen
 ```

###### Command: add
 ```
 Name: Snow White
 Snow White was added.
 ```

###### Command: del
```
 Number: 3
 Frozen was deleted.```

In [119]:
movieList = ["Toy Story", "Lion King", "Frozen"]

choice = int(input("Command Menu\n1. List - list all movies\n2. Add - add a movie\n3. Del - delete a movie\n\
4. Exit - exit program\nSelect your choice: "))

while ((choice >= 1) or (choice <= 4)):
    if (choice == 1):
        movie = len(movieList)
        for i in range(movie):
            print(movie)
            i += 1

Command Menu
1. List - list all movies
2. Add - add a movie
3. Del - delete a movie
4. Exit - exit program
Select your choice: 1

TypeError: 'int' object is not subscriptable